
    <img id="img"  src="../../../assets/resources/Logo.jpeg"> 

<br>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">
          Bienvenid@s
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>Hola, te damos la bienvenida a cygnus un servidor para uso exclusivo de proyectos de investigación de la facultad de ingenierías de UNIAJC. Si tienes alguna duda o pregunta contáctate con <a href="">Servicio Técnico</a> </p>
           <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
        </div>
      </div>
</div>
<br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <div class="card-header">Servico Tecnico</div>
        Hola, Cygnus aún se encuentra en pruebas y constantes cambios, antemano pedimos disculpas por cualquier inconveniente. Si presentas algún error comunícate con servicio técnico. Muchas gracias.
      </div>

</div>