

<div class="alert alert-warning" role="alert">
    Si presentas alguna novedad o algún fallo con el servidor reportarlo con servicio técnico para si poder garantizar un servicio optimo 
  </div>
  <br>
  <div class="container">
<div class="card text-center">
    <div class="card-header">
      Contactos
    </div>
    <div class="card-body">
      <h5 class="card-title">Servico Tecnico</h5>
      <p class="card-text"><b>Correo= </b>becariosfi@admon.uniajc.edu.co</p>
      
    </div>
    <div class="card-footer text-muted">
    Cygnus uniajc
    </div>
  </div>
</div>