<div class="container">
<br>

<div class="card">
    <div class="card-header">
      Servicio Tecnico
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>En este apartado podrás encontrar todos los proyectos de investigación de la facultad de ingenieras que se encuentran activos.</p>
        <footer class="blockquote-footer">Att: <cite title="Source Title">Servicio Tecnico </cite></footer>
      </blockquote>
    </div>

</div>
<br>
<div class="card border-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Proyecto LoT</div>
    <div class="card-body text-secondary">
      <h5 class="card-title">Proyecto plataforma LoT</h5>
     
      <a type="button" href="/proyecto1/index.html" class="btn btn-outline-success">Ingresar</a>
 
  </div>
    
</div>
<br>
<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Proyecto 2</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Proyecto 2</h5>
   
    <a type="button" href="/proyecto2/index.html" class="btn btn-outline-success">Ingresar</a>
   <a></a>
</div>
  
</div>

<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">Proyecto Santiago Ruiz</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">Proyecto Santiago Ruiz</h5>
   
    <a type="button" href="/webruiz/index.php" class="btn btn-outline-success">Ingresar</a>
   <a></a>
</div>
  
</div>

</div>